{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>注册</title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/register.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/registe.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css"/>
    <style>
        .dl:hover {
            color: red;
        }
    </style>

</head>

<body>
<!--顶部-->
<div class="nav">
    <div class="nav cl">
        <div class="nav_z z">
            <p>教学文档管理系统</p>
        </div>
        <div class="nav_y y">
            {% if request.session.is_login %}
                <a href="#">当前在线：{{ request.session.user_name }}</a>
                <span>    </span>
                <a href="/user/logout">退出</a>
            {% else %}
                <a href="/user/login" class="dl">登录</a>
                <span>    </span>
                <a href="/user/register">注册</a>
            {% endif %}
        </div>
    </div>
</div>
<!--顶部结束-->

<div class="xiao-container">
    <div class="xiao-register-box">
        <div class="xiao-title-box">
            <span>用&nbsp;户&nbsp;注&nbsp;册</span>
        </div>
        <form action="/user/register" method="post">
            {#                {% csrf_token %}#}
            {% if message %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endif %}

            <div class="xiao-username-box">
                <span class="xiao-require">*</span>
                <label for="username">姓名</label>
                <div class="xiao-username-input">
                    <input type="text" id="username" name="name" placeholder="请输入用户名 注册成功后无法更改"/>
                </div>
            </div>

            <div class="xiao-userEmail-box">
                <span class="xiao-require">*</span>
                <label for="userEmail">电子邮箱</label>
                <div class="xiao-userEmail-input">
                    <input type="text" id="userEmail" name="email" placeholder="请输入您的邮箱地址，如：123@qq.com"/>
                </div>
            </div>

            <div class="xiao-userPassword-box">
                <span class="xiao-require">*</span>
                <label for="userPassword">密码</label>
                <div class="xiao-userPassword-input">
                    <input type="password" id="userPassword" name="pwd1" placeholder="请输入密码 长度:6-12个字符"/>
                </div>
            </div>

            <div class="xiao-userRePassword-box">
                <span class="xiao-require">*</span>
                <label for="userRePassword">确认密码</label>
                <div class="xiao-userRePassword-input">
                    <input type="password" id="userRePassword" name="pwd2" placeholder="请重复输入密码"/>
                </div>
            </div>

            <div class="xiao-userPhone-box">
                <span class="xiao-require">*</span>
                <label for="userPhone">所在院系</label>
                <div class="xiao-userPhone-input">
                    <input type="text" id="userPhone" name="department" placeholder="请输入您所在的院系"/>
                </div>
            </div>

            <div class="xiao-userGender-box">
                <span class="xiao-require">*</span>
                <label for="userGender">性别</label>
                <div class="xiao-userGender-input">
                    <input type="radio" id="userGender_01" name="sex" value="1" checked="checked"/>男   
                    <input type="radio" id="userGender_02" name="sex" value="0"/>女
                </div>
            </div>

            <div class="xiao-submit-box">
                <button id="xiao-submit-button">注&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;册</button>
            </div>

            <div class="xiao-goLogin-box">
                <a href="/user/login" style="text-decoration: none;">已有账号？去登录</a>
            </div>
        </form>
    </div>
</div>
</body>

</html>